* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #E0F7FA,#B2DFDB, #90A4AE,#607D8B, #37474F);

    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    background-color: #e0e0e0;
    border-color: #607D8B;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #120e10;
}

button.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #030202;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

button.login-btn:hover {
    background-color: #607D8B;
}

.extra-options {
    margin-top: 20px;
}

.extra-options a {
    display: block;
    margin: 10px 0;
    color: #857b69;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.extra-options a:hover {
    color: #607D8B;
    text-decoration: underline;
}

